:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: scale(1);
}

.todo {
  max-width: 750px;
  margin: 40px auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px; // чтобы не прилипало к краям экрана
  position: relative;
  height: 100vh;
}
.todo__header {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
.todo__tools {
  display: flex;
  align-items: stretch;
  gap: 8px;
  margin-bottom: 30px;
  width: 100%;
}

.todo__search {
  flex: 1; // занимать всё доступное пространство
}

.todo__search-input {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
}

.todo__filter-select {
  padding: 8px 12px;
  box-sizing: border-box;
}
.todo__list {
  display: grid;
  gap: 17px;
}
.todo__item {
  background-color: #2c2c2c;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__item-actions {
  display: flex;
  gap: 17px;
}
.todo__add-btn {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 32px;
  line-height: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}
